{% load static %}
{% load active_link_tags %}

<header>
  <div class="container d-flex justify-content-between align-items-center py-3">
    <a href="/" class="logo d-flex align-items-center">
      <img src="{% static 'img/favicon.svg' %}" alt="Logo" height="40">
      <span class="ms-2 fw-bold">Smart class</span>
    </a>
    <nav class="my-auto nav-item dropdown">
      <a href="{% url 'homepage:main' %}" class="{% if view_name == 'homepage:main' %}active{% endif %}">Главная</a>
      <a href="{% url 'about:main' %}" class="{% if view_name == 'about:main' %}active{% endif %}">О нас</a>
    </nav>
    <nav class="d-flex">
      <nav class="my-auto nav-item dropdown">
        <button class="btn border-0 dropdown-toggle d-flex align-items-center" id="theme-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span><i id="theme-icon-active" class="bi bi-sun-fill"></i> Тема</span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="dropdown-item" data-bs-theme-value="light">Белая</button>
          </li>
          <li>
            <button class="dropdown-item" data-bs-theme-value="dark">Черная</button>
          </li>
        </ul>
      </nav>

      {% if request.resolver_match.view_name != 'users:login' %}
        {% if request.user.is_authenticated %}
          <div class="dropdown ms-2">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{% if request.user.has_avatar %}{{ request.user.get_small_avatar }}{% else %}{% static 'img/default_user_avatar.jpg' %}{% endif %}" alt="{{ request.user.username }}" class="rounded-circle" width="48" height="48">
              <strong>{{ request.user.username }}</strong>
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" {% if view_name != "users:profile" %}href="{% url 'users:profile' %}"{% endif %}>Мой профиль</a></li>
              <li><hr class="dropdown-divider"></li>
              {% if request.user.is_staff %}
                <li><a href="{% url 'admin:index' %}" class="dropdown-item">
                  Админ панель
                </a></li>
              {% endif %}

              <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
            </ul>
          </div>
        {% else %}
          <a href="{% url 'users:login' %}" class="btn btn-outline my-auto me-2">
            Войти
          </a>
        {% endif %}
      {% endif %}
    </nav>
  </div>
</header>

