services:
  - type: web
    name: smart-class
    env: docker
    plan: free
    branch: main
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: DATABASE_URL
        value: "postgresql://postgres:62ac9_L%2F%24m%2BEs8z@db.odpitqdywhodbnijtvmu.supabase.co:5432/postgres"
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: smart-class.onrender.com
