Django==4.2.16
django-active-link==0.1.8
django-widget-tweaks==1.5.0
django-unfold==0.55.2
django-rest-framework==0.1.0
python-dotenv==1.0.0
drf-extra-fields==3.7.0
sorl-thumbnail==12.11.0
pillow==10.4.0
requests==2.32.4
gunicorn==23.0.0
whitenoise==6.9.0
boto3==1.40.21
django-storages==1.14.6