{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href='{% static "bootstrap/css/bootstrap-icons.css" %}' rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    {% block css %} {% endblock %}
    <script src='{% static "bootstrap/js/bootstrap.js" %}'></script>
    <script src='{% static "bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script src='{% static "js/custom.js" %}'></script>
    <script src='{% static "js/chart.js" %}'></script>
    {% block js %} {% endblock %}
    <link rel="icon" type="image" href='{% static "/img/favicon.svg" %}'/>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include "includes/header.html" %}

    <main class="page-wrapper">
        {% block content %} Не загружено {%  endblock %}
    </main>

    {% include "includes/messages.html" %}

    {% include "includes/footer.html" %}
  </body>
</html>