body[data-bs-theme="light"] {
  background-color: #f2f2f2;
  color: #000;
}

body[data-bs-theme="light"] .footer {
  background-color: #c3c0c0;
  color: #000;
}

body[data-bs-theme="dark"] {
  background-color: #3c3c3c;
  color: #ffffff;
}

body[data-bs-theme="dark"] .footer {
  background-color: #222222;
  color: #ffffff;
}

body[data-bs-theme="light"] header {
  background-color: #c3c0c0;
  color: #000;
}

body[data-bs-theme="dark"] header {
  background-color: #222222;
  color: #fff;
}

body[data-bs-theme="light"] header a {
  color: #000;
}

body[data-bs-theme="dark"] header a {
  color: #fff;
}

body[data-bs-theme="light"] header .btn.dropdown-toggle {
  color: #4f4f4f;
}

body[data-bs-theme="dark"] header .btn.dropdown-toggle {
  color: #fff;
}

body[data-bs-theme="dark"] header .nav-link {
    color: #C0C0C0;
}

body[data-bs-theme="light"] header .nav-link {
    color: #696969;
}

body[data-bs-theme="dark"] header .choose {
    color: #fff;
}

body[data-bs-theme="light"] header .choose {
    color: #000000;
}

[data-bs-theme="dark"] .auth-container {
    background-color: #3c3c3c !important;
}

[data-bs-theme="dark"] .auth-container input {
    background-color: #3c3c3c !important;
    border: 1px solid #fff;
}

[data-bs-theme="dark"] .auth-form {
    background-color: #3c3c3c !important;
}

body[data-bs-theme="light"] a {
  color: #000;
}

body[data-bs-theme="dark"] a {
  color: #fff;
}

.backdrop-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav-link {
  transition: color 0.3s ease;
  transform: none !important;
}

.nav-link:hover {
  color: var(--bs-primary);
}

.dropdown-menu {
    transition: all 0.2s ease-in-out !important;
    transform: translateY(-10px) scale(0.95) !important;
    opacity: 0 !important;
    display: block !important;
    pointer-events: none !important;
    top: 100% !important;
    left: auto !important;
    right: 0 !important;
}

.dropdown-menu.show {
    transform: translateY(0) scale(1) !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.backdrop-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

footer a:hover {
  color: var(--bs-primary) !important;
  transition: color 0.3s ease;
}

header a:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.03);
    cursor: pointer;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    text-align: center;
    padding-right: 2vw;
    padding-left: 2vw;
}

.calendar-day {
    padding: 14px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.2s ease, transform 0.2s ease;
    position: relative;
}

.calendar-day:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.calendar-today {
    border: 1px solid #0D6EFD !important;
}

.month-nav-btn {
    width: 3rem;
    height: 3rem;
    padding: 0 !important;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    justify-content: center;
    border-radius: 50% !important;
}

.month-nav-btn i {
    font-size: 1.2rem;
}

.calendar-header {
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
